.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.timer-heading {
  font-family: monospace;
  color: aliceblue;
  font-size: 18px;
}

.timer-text {
  letter-spacing: 1px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 145, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 500px) {
  .timer-heading {
    padding: 1rem 0.5rem;
    background-color: rgba(53, 53, 53, 0.418);
    color: aliceblue;
    font-size: 24px;
  }
}
.timer-heading-none {
  display: none;
}
